function SquareGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 1
push pointer 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
if-goto IfT0
goto IfF0
label IfT0
push this 0
call Square.moveUp 1
pop temp 0
label IfF0
label IfEnd0
push this 1
push constant 2
eq
if-goto IfT1
goto IfF1
label IfT1
push this 0
call Square.moveDown 1
pop temp 0
label IfF1
label IfEnd1
push this 1
push constant 3
eq
if-goto IfT2
goto IfF2
label IfT2
push this 0
call Square.moveLeft 1
pop temp 0
label IfF2
label IfEnd2
push this 1
push constant 4
eq
if-goto IfT3
goto IfF3
label IfT3
push this 0
call Square.moveRight 1
pop temp 0
label IfF3
label IfEnd3
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label WhileLabel0
push local 1
not
not
if-goto WhileEnd0
label WhileLabel1
push local 0
push constant 0
eq
not
if-goto WhileEnd1
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto WhileLabel1
label WhileEnd1
push local 0
push constant 81
eq
if-goto IfT0
goto IfF0
label IfT0
push constant 0
not
pop local 1
label IfF0
label IfEnd0
push local 0
push constant 90
eq
if-goto IfT1
goto IfF1
label IfT1
push this 0
call Square.decSize 1
pop temp 0
label IfF1
label IfEnd1
push local 0
push constant 88
eq
if-goto IfT2
goto IfF2
label IfT2
push this 0
call Square.incSize 1
pop temp 0
label IfF2
label IfEnd2
push local 0
push constant 131
eq
if-goto IfT3
goto IfF3
label IfT3
push constant 1
pop this 1
label IfF3
label IfEnd3
push local 0
push constant 133
eq
if-goto IfT4
goto IfF4
label IfT4
push constant 2
pop this 1
label IfF4
label IfEnd4
push local 0
push constant 130
eq
if-goto IfT5
goto IfF5
label IfT5
push constant 3
pop this 1
label IfF5
label IfEnd5
push local 0
push constant 132
eq
if-goto IfT6
goto IfF6
label IfT6
push constant 4
pop this 1
label IfF6
label IfEnd6
label WhileLabel2
push local 0
push constant 0
eq
not
not
if-goto WhileEnd2
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto WhileLabel2
label WhileEnd2
goto WhileLabel0
label WhileEnd0
push constant 0
return
